<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="navbar">
      <ul>
        <%= link_to 'Home', home_path %>
        |
        <%= link_to 'Posts', posts_path %>
      </ul>
    </div>
    <hr>
    <br>
    <%= yield %>
  </body>
</html>
